img{
  cursor: url(img/bate.png), pointer;
  width: 50px;
  height: 50px;
  position: absolute;
  padding: 10px;
  transition-property: top, right, left, bottom, width, height;
  transition-duration: 3s;
}
#finish_him{
  text-align: center;
  font-size: 70px;
  display: none;
  font-family: 'Roboto Condensed', sans-serif;
}
button{
  outline: none;
  display: none;
  position: absolute;
  top: 65%;
  right: 50%;
  left:46%;
  width: 100px;
  height: 40px;
  margin: auto;
}
a{
  top: 1%;
  display: none;
  position: absolute;
  border-radius: 5px;
  font-family: Verdana,sans-serif;color: #fff;background-color: #555555;text-decoration: none; cursor:pointer; color:#ffffff; font-size:17px; padding:13px 28px; text-decoration:none; text-shadow:0px 1px 0px #2f6627;
  transition-property: background-color;
  transition-duration: 0.4s;
}
a:hover{
  background-color: #000;
}